.articles__text {
  width: 615px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-block-start: 0;
  margin-block-end: 0;
}