.recent-posts__author {
  position: absolute;
  bottom: 100px;
  margin: 0;
  margin-bottom: 6px;
  left: 20px;
  z-index: 3;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
