.recent-posts__title {
  position: absolute;
  bottom: 25px;
  left: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  width: auto;
  z-index: 3;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
}