.articles__title {
  width: 615px;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  color: #171717;
  border: 1px solid red;
  margin-block-start: 0;
  margin-block-end: 0;
}