.content {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "recent-posts recent-posts"
    "articles sidebar"
    "most-popular most-popular";
  box-sizing: content-box;
  justify-items: space-between;
  column-gap: auto;
  row-gap: 30px;
}