.logo__premium {
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.logo__premium p {
  margin-block-end: 0;
  margin-block-start: 0;
}