.newsletter__confirm-button {
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  border-style: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px; 
  color: #FFFFFF
}

