.newsletter__input-field {
  height: 50px;
  border-radius: 3px;
  background-color: #fff;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #aeb3bb;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
}
