.footer {
  position: relative;
  width: 100%;
  /* min-height: 800px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #000;
  color: white;
  border: 1px red solid;
  padding-bottom: 300px;
}