.posts__header {
  width: 178px;
  height: 49px;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  margin-block-start: 4px;
  margin-block-end: 0;
  margin: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}